body{
    padding: 0;
    margin: 0;
    background-color: ;
}
nav{
    /* 
        The `position: sticky;` property is used to position an element based on the user's scroll position.
        It behaves like `relative` positioning until a specified scroll threshold is reached, 
        at which point it "sticks" in place (like `fixed` positioning). 
        This is often used for elements like headers or navigation bars that should remain visible 
        while scrolling within a specific container.
    */
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-links a{
    display: block;
    padding: 30px 16px;
    color: #111;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    /* transition - Smoothly animates property changes over 100ms with an ease-in-out timing. */
    transition: all ease-in-out 100ms;
}
 .nav-links a:hover{
    background-color: #111;
    color: #fff;
}

.menu-btn{
    display: none;
    cursor: pointer;
    width: 34px;
}

.menu-btn .bar{
    flex-basis: 100%;
    height: 4px;
    background-color: #111;
    margin: 3px;

    @media (max-width: 500px){
        /* 
            The `@media` rule is used to apply styles based on the viewport size. 
            In this case, it targets screens with a maximum width of 500 pixels.
        */}
        nav{
            flex-wrap: wrap;
        }

        .menu-btn{
            display: flex;
            flex-wrap: wrap;
        }

        .logo{
            height: 80px;
        }

        .nav-links{
            display: none;
            flex-basis: 100%;
            flex-wrap: wrap;
        }
        
        .nav-links li{
            flex-wrap: 100%;
        }

        .nav-links a{
            text-align: center;
            font-size: 28px;
        }

        .nav-links a:hover{
            background-color: #111;
        }
        
    }
}