*{
    /* 
        The `*` selector applies styles to all elements on the page. 
        It is often used for resetting default styles or applying a base style.
    */
    margin: 0;
    padding: 0;
    /*box-sizing: border-box; This is just for testing */
}
body{
    min-height: 100vh;
    background-image: url('../images/image-one.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    background-color: aliceblue;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    /* 
        The `box-shadow` property adds a shadow effect to the element. 
        It takes values for horizontal offset, vertical offset, blur radius, and color.
    */
}
nav .nav-links, .side-bar{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
}

nav a:hover{
    background-color: #f0f0f0;
    transition: all 0.3s ease-in-out;
    /* 
        The `transition` property allows you to change property values smoothly (over a given duration).
        In this case, it applies to all properties over 0.3 seconds with an ease-in-out timing function.
    */
}
nav li:first-child{
    margin-right: auto;
    font-size: large;
    font-weight: bold;
}
.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    /* 
        The `z-index` property specifies the stack order of an element. 
        Elements with a higher `z-index` value are displayed in front of those with a lower value. 
        In this case, the sidebar is given a high `z-index` to ensure it appears above other elements.
    */
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* 
        The `align-items: flex-start` aligns the sidebar's child elements along the cross axis (vertical axis in this case) 
        to the start of the container. 
        The `justify-content: flex-start` aligns the child elements along the main axis (horizontal axis in this case) 
        to the start of the container.
    */
}
.side-bar li{
    width: 100%;
}



@media screen and (max-width: 768px){
    /* 
        The `@media` rule is used to apply styles based on the viewport size. 
        In this case, it targets screens with a maximum width of 768 pixels, 
        which is commonly used for mobile devices.
    */
    
}
}