body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#instruction-ctn{
    display: flex;
    flex-direction: column;
}

#start-btn-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#game-ctn{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}